@import '../../../assets/settings/main.scss';

.tb-c-modal-form {
  @extend .letterSpacing;
  @extend .fontType;
  min-height: 100%;

  &__title {
    @extend .letterSpacing;
    @extend .fontType;
    @extend .fontM;
    color: $tb-black-dark;
  }

  &__form {
    @include marginTop(7.5);

    &__section{
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;

      p {
        @extend .letterSpacing;
        @extend .fontType;
        @include marginRight(2.5);
        @extend .fontM;
        color: $tb-black-dark;
      }

      & input[type="text"], input[type="text"]:focus {
        @include paddingLeft(2);
        @extend .letterSpacing;
        @extend .fontType;
        @extend .fontS;
        color: $grey-3;
        border-radius: $border-radius;
        border: 2px solid $tb-border-grey;
        width: 100%;
        height: 100%;
        background-color: transparent;
  
        &::placeholder {
          @extend .letterSpacing;
          @extend .fontType;
          @extend .fontS;
          color: $tb-inputs-grey;
        }
      }

      & textarea, textarea:focus {
        @include paddingLeft(2);
        @extend .letterSpacing;
        @extend .fontType;
        @extend .fontS;
        color: $grey-3;
        border-radius: $border-radius;
        border: 2px solid $tb-border-grey;
        width: 100%;
        height: 100%;
        background-color: transparent;
  
        &::placeholder {
          @extend .letterSpacing;
          @extend .fontType;
          @extend .fontS;
          color: $tb-inputs-grey;
        }
      }
    }
  }
}