$tb-black-dark: #0e0e0e;
$tb-shadow: #00000033;

$tb-semi-yellow: #dad8e46c;
$tb-border-grey: #aaa5bd7c;
$tb-inputs-grey: #66656baf;
$tb-semi-green: #89ebba;

$white: #fcfcfc;
$grey-1: #efeff2;
$grey-2: #bababe;
$grey-3: #666573;
$grey-4: #161230;


$text-color: $grey-4;

:export {
  tb-black-dark: $tb-black-dark;
  tb-shadow: $tb-shadow;
  tb-semi-yellow: $tb-semi-yellow;
  tb-semi-green: $tb-semi-green;
  tb-border-grey: $tb-border-grey;
  tb-inputs-grey: $tb-inputs-grey;
  white: $white;
  grey-1: $grey-2;
  grey-2: $grey-2;
  grey-3: $grey-3;
  $text-color: $grey-4;
}
